/********************************************************
        Mobile Devices
        Version:   1.0
********************************************************/

/********************************************************
        ## Min Width 1200px
********************************************************/
@media (min-width: 1200px) {

}
/********************************************************
        ## Min Width 992px And Max Width 1199px
********************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-default .navbar-collapse {
        padding-left: 5%;
    }
    .main-slider .slider-inner {
        left: 5%;
    }
    .product-fix:hover .product-hover {
        top: 40px;
    }
    .woocommerce.archive ul.products li.last{
        margin-right: 0;
    }
    .recent-product-widget,.sale-product-widget {
        padding: 0 30px;
    }
}
/********************************************************
        ## Min Width 992px And Max Width 1199px
********************************************************/
@media (min-width: 768px) and (max-width: 991px){
    .main-slider .slider-inner {
        left: 5%;
    }
    .product-fix:hover .product-hover {
        top: 40px;
    }
    .navbar-default .navbar-collapse {
        padding-left: 2%;
    }
    .recent-product-widget ,.sale-product-widget{
        padding: 0 15px;
    }
    .woocommerce.columns-4 ul.products li.product,.categories-list-widget .woocommerce.columns-3 ul.products li.product{
        width: 48%;
    }
    .cart-contents span{
        display: none;
    }
    .primary-menu ul li a {
        padding: 15px 15px 15px 0;
    }
    .discount-fix{
        padding-top: 0 !important;
    }
}
/********************************************************
        ## Max Width 767px
********************************************************/
@media only screen and (max-width:767px) {
    .widget-area section {
        padding: 0 0 15px;
    }
    main,.home.blog main {
        padding-top: 0;
    }
    .woocommerce.columns-4 ul.products li.product{
        width: 48%;
    }
    .newsletter .form-control{
        width: 100%;
    }
    .newsletter h3 {
        margin-right: 0;
        margin-top: 0;
        float: none !important;
        margin-bottom: 20px;
    }
    .product-fix:hover .product-hover {
        top: 40px;
    }
    .page-header:before{
        display: none;
    }
    .header.sticky {
        margin-top: 0;
    }
    .recent-product-widget ,.sale-product-widget{
        padding: 0 15px;
    }
    .header {
        position: relative;
    }
    .primary-menu .xs-angle-down {
        margin: -10px 0 0 0;
        padding: 9px 15px;
        background: #fff;
        float: right;
        color: #333;
        font-size: 22px;
        border: 1px solid transparent;
    }
    .primary-menu ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: none;
    }
    .primary-menu ul.nav li.dropdown > ul.dropdown-menu.active {
        display: block;
        box-shadow: none;
        border: 0;
    }
    .primary-menu .dropdown-menu {
        width: auto;
        float: none;
        position: static;
    }
    .text-center-xs,.header-top .text-right{
        text-align: center;
    }
    .logo img{
        margin: 0 auto;
    }
    .header-social {
        margin-bottom: 10px;
    }
    .header-middle .mini-cart {
        position: absolute;
        top: 60px;
        left: 0;
        text-align: left;
        z-index: 1;
        width: auto;
    }
    .primary-menu ul li a {
        padding:15px 5px;
    }
    .navbar-default .navbar-collapse {
        overflow: hidden;
        padding-left: 15px;
        float: none !important;
        width: 100%;
    }
    .main-slider .slider-inner {
        top: 15%;
    }
    .slider-wrap h2 {
        font-size: 30px;
    }
    .header .header-bottom .navbar-default .search-cart li> a.cart-contents {
        padding-right: 15px;
    }
    .header .header-bottom .navbar-default .search-cart li> a.search-border {
        padding-right: 0;
    }
    .navbar-default .navbar-toggle{
        border-color: #ffbd33;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #ffbd33;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: #ffbd33;
    }
    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
        background-color: #fff;
    }
    .woocommerce .product-fix .compare, .woocommerce .product-fix .yith-wcqv-button{
        visibility: visible;
        bottom: 0;
    }
    .margin-top-xs-20{
        margin-top: 20px;
    }
    .footer-bottom ,.footer-bottom ul{
        text-align: center;
    }
    .newsletter{
        text-align: left;
    }
    .newsletter .btn {
        margin-left: 0;
        margin-top: 15px;
    }
    .categories-list-widget .woocommerce.columns-3 ul.products li.product{
        width: 48%;
    }
    .discount-fix{
        padding-top: 0 !important;
    }
}
/********************************************************
        ## Max Width 480px
********************************************************/
@media only screen and (max-width:480px) {
    .woocommerce-Price-amount,.slider-wrap p{
        display: none;
    }
    .header-phone{
        padding-right: 0;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product,.categories-list-widget .woocommerce.columns-3 ul.products li.product,.woocommerce table.cart td.actions .coupon .button,.woocommerce-cart table.cart td.actions .coupon .input-text{
        width: 100%;
    }
    .woocommerce table.cart td.actions .coupon .button{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
/********************************************************
        Max Width 320px
********************************************************/
@media only screen and (max-width:320px) {
    .social-sharing{
        width: 100%;
    }
    .badge{
        display: none;
    }
}
/********************************************************
        Max Width 240px
********************************************************/
@media only screen and (max-width:240px) {

}